body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.all{
  width: 100vw;
  height: 100vh;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  justify-content:space-evenly;
}


.about{
  width: 100vw;
  height: 80vh;
  position: absolute;
  padding: 3% 32%;
  
}
.text{
  position: absolute;
  top: 0;
  right: 5%;
}